body {
    font-family: Arial, Helvetica, sans-serif;

    margin: 10vh 0 0 0;
}

#separate-parts {
    margin-top: 30px; 
}

#aktualni_uzivatel {
    position: fixed;
    top: 20px; right: 20px;
    text-align: center;
}

.date-small {
    font-size: 0.8em;
    vertical-align: middle;
}
